<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>lolist</title>
	<link href="css/styles.css" media="all" rel="stylesheet" type="text/css"/>
	
	<script src="js/jquery.min.js"></script>
  <script src="js/json2.js"></script>
  <script src="js/underscore/underscore-min.js"></script>
  <script src="js/backbone/backbone.js"></script>
  <script src="js/backbone/backbone.localStorage.js"></script>
	<script src="js/lol.js"></script>
	<script type="text/template" id="streamer-template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= online ? 'checked="checked"' : '' %> />
			<label><%= name %></label>
			<a class="remove">remove</a>
		</div>
		<input class="edit" type="text" value="<%= name %>" />
	</script>
	
	<script type="text/template" id="stats-template">
		<div class="online-count"><b><%= online %></b> online</div>
		<div class="offline-count"><b><%= offline %></b> offline</div>
	</script>
</head>
<body>
	<div id="lolapp">
		<header>
			<h1>LoL Streamers</h1>
			<input id="new-streamer" placeholder="Add new streamer" type="text"/>
		</header>
		<section id="main">
			<section class="group all">
				<div class="header">
					<span class="collapsed">▼</span>
					<h3 class="all">All</h3>
					<span class="count">5</span>
				</div>
				<ul id="streamer-list"></ul>
			</section>
			
			
			<h3 class="offline">Offline</h3>
			<ul id="offline-list"></ul>
			<h3 class="online">Online</h3>
			<ul id="online-list"></ul>
		</section>
		<footer>
			<div id="online-count"></div>
		</footer>
	</div>
</body>
</html>