<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>lolist</title>
	<link href="css/styles.css" media="all" rel="stylesheet" type="text/css"/>
	
	<script src="js/jquery.min.js"></script>
  <script src="js/underscore/underscore-min.js"></script>
  <script src="js/backbone/backbone.js"></script>
  <script src="js/backbone/backbone.localStorage.js"></script>
	<script src="js/lol.js"></script>
	<script type="text/template" id="streamer-template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= online ? 'checked="checked"' : '' %> />
			<label><%= name %></label>
			<span class="viewers"><%= viewers %></span>
			<a class="remove">remove</a>
		</div>
		<div class="edit">
			<input class="editName" type="text" value="<%= name %>" />
			<input class="editViewers" type="text" value="<%= viewers %>" />
			<button class="sync">Sync</button>
			<button class="close">Close</button>
			<button class="save">Save</button>
			<div class="response"></div>
		</div>
	</script>
	
	<script type="text/template" id="playlist-template">
		<h2>Playlist</h2>
		<button class="control play">Play</button>
		<button class="control stop">Stop</button>
		<ul class="streamers"></ul>
	</script>
	
	<script type="text/template" id="streamer-group">
		<div class="header">
			<div class="toggle-group collapsed">
				<span class="collapsed">▼<span>
			</div>
			<h3 class="all"><%= title %></h3>
			<span class="count"></span>
		</div>
		<ul id="streamer-list" class="list"></ul>
	</script>
	
	<script type="text/template" id="library-template">
		<header>
			<h2>Library</h2>
			<input id="new-streamer" placeholder="Add new streamer" type="text"/>
		</header>
		<section id="main"></section>
		<footer>
			<div id="online-count"></div>
		</footer>
	</script>
	
	<script type="text/template" id="stats-template">
		<div class="online-count"><b><%= online %></b> online</div>
		<div class="offline-count"><b><%= offline %></b> offline</div>
	</script>
</head>
<body>
	<div id="lolapp"></div>
</body>
</html>