<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

	<meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="lib/jasmine-1.2.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="lib/jasmine-1.2.0/jasmine.css">
  <script type="text/javascript" src="lib/jasmine-1.2.0/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine-1.2.0/jasmine-html.js"></script>

  <!-- include source files here... -->
	<script src="../js/jquery.min.js"></script>
  <script src="../js/underscore/underscore-min.js"></script>
  <script src="../js/backbone/backbone.js"></script>
  <script src="../js/backbone/backbone.localStorage.js"></script>
	<script src="../js/lol.js"></script>

  <!-- include spec files here... -->
  <script type="text/javascript" src="spec/StreamList.js"></script>

	<script type="text/template" id="streamer-template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= online ? 'checked="checked"' : '' %> />
			<label><%= name %></label>
			<a class="remove">remove</a>
		</div>
		<input class="editName" type="text" value="<%= name %>" />
		<input class="editViewers" type="text" value="<%= viewers %>" />
	</script>
	
	<script type="text/template" id="stats-template">
		<div class="online-count"><b><%= online %></b> online</div>
		<div class="offline-count"><b><%= offline %></b> offline</div>
	</script>

  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>


</html>
